*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Courier New", monospace;
}
#LoginHeader {
  background-color: white;
  width: 100vw;
  display: flex;
}
.headerText {
  color: black;
  align-self: center;
}
#mainLogo {
  height: 175px;
}
#loginButton {
  color: rgb(199, 247, 187);
  background-color: rgb(60, 179, 113);
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ourRow {
  display: flex;
}

.fNameBox {
  margin-left: 50px;
}

.lNameBox {
  margin-left: -10px;
}
.longBox {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.signupButton {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
