*,*:before,*:after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family:'Courier New', monospace;
}
#LoginHeader{
  background-color: white;
  width:100vw;
  display:flex;
}
.headerText{
  color:black;
  align-self: center;

}
#mainLogo{
  height:175px;
}
